/.build/
/MANIFEST
/MANIFEST.bak
/MYMETA.json
/MYMETA.json.lock
/MYMETA.yml
/SIGNATURE
/Makefile
/Makefile.old
/blib/
/cover_db/
/pm_to_blib
/Module-Runtime-*/
/Module-Runtime-*.tar
/Module-Runtime-*.tar.gz
